---
const siteTitle = 'The Tipps BBQ Experience';
const siteDescription = 'Menu for the Tipps BBQ Experience';
const author = 'Ryan Tipps';
const siteUrl = 'https://tippsbbq.com';
const siteImageUrl = new URL('/cutting-board.jpg', siteUrl).href;
---

<!doctype html>
<html lang="en" class="bg-slate-500">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{siteTitle}</title>
    <meta name="description" content={siteDescription} />
    <meta name="keywords" content="Tipps BBQ, brisket, barbeque, Ryan Tipps" />
    <meta name="author" content={author} />

    <!-- schema.org -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Restaurant",
        "name": {siteTitle},
        "description": {siteDescription},
        "image": {
          "@type": "ImageObject",
          "url": {siteImageUrl},
          "width": 4032,
          "height": 3024
        },
        "author": {
          "@type": "Person",
          "name": {author}
        }
      }
      </script>
      

    <!-- open graph -->
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={siteDescription} />
    <meta property="og:image" content={siteImageUrl} />
    <meta property="og:url" content={siteUrl} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content={siteTitle} />

    <!--- twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@RyanTippsTX" />
    <meta name="twitter:title" content={siteTitle} />
    <meta name="twitter:description" content={siteDescription} />
    <meta name="twitter:image" content={siteImageUrl} />

    <!-- favicon -->
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🥩</text></svg>"
    />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <slot />
  </body>
</html>
