---
const siteTitle = 'The Tipps BBQ Experience';
const siteDescription = 'Menu for the Tipps BBQ Experience';
---

<!doctype html>
<html lang="en" class="bg-slate-500">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{siteTitle}</title>
    <meta name="description" content={siteDescription} />
    <meta name="keywords" content="Tipps BBQ, brisket, barbeque, Ryan Tipps" />
    <meta name="author" content="Ryan Tipps" />

    <!-- open graph -->
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={siteDescription} />
    <!-- <meta property="og:image" content="URL_TO_YOUR_IMAGE" /> -->
    <!-- <meta property="og:url" content="URL_TO_YOUR_PAGE" /> -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content={siteTitle} />

    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🥩</text></svg>"
    />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <slot />
  </body>
</html>
